:root {
  --primary5: hsl(217.7, 63.5%, 29%);
  --secondary5: hsl(0, 88.1%, 50.6%);
  --tertiary5: hsl(91.3, 39.7%, 52.5%);
  --white1: hsl(54, 57%, 87%);
  --white3: hsl(52, 62%, 90%);
  --white5: hsl(54, 65%, 92%);
  --white7: hsl(54, 62%, 95%);
  --white9: hsl(54, 40%, 98%);
  --gray1: hsl(209, 10%, 32%);
  --gray2: hsl(207, 15%, 52%);
  --gray3: hsl(208, 15%, 58%);
  --gray4: hsl(210, 16%, 76%);
  --gray5: hsl(208, 21%, 88%);
  --gray6: hsl(209, 15%, 90%);
  --gray7: hsl(207, 12%, 92%);
  --gray8: hsl(208, 12%, 96%);
  --gray9: hsl(210, 16%, 98%);
}
